{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MIWF</title>
    <script src="https://cdn.ravenjs.com/3.19.1/raven.min.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div id="react-app"></div>
    <script>
      Raven.config('https://bc5e0edbf2f74dab884001de9cea3069@sentry.io/238477').install()
    </script>
    {% render_bundle 'main' %}
  </body>
</html>
