{% extends 'base.html' %}

{% block content %}
<button id="link-button">Re authenticate</button>

<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js">
</script>

<script>
// Initialize Link with the `token` parameter
// set to the generated public_token for the Item
var linkHandler = Plaid.create({
  env: 'sandbox',
  clientName: 'Motivating Investment',
  key: '2aa70186194f3a8d2038d989715a32',
  product: ['transactions'],
  token: '{{public_token}}',
  onSuccess: function(public_token, metadata) {
    window.location="/home";
  },
  onExit: function(err, metadata) {
    // The user exited the Link flow.
    if (err != null) {
      console.log(err);
      console.log(metdata);
      alert("Plaid is having issues right now.");
      // The user encountered a Plaid API error prior
      // to exiting.
    }
    else {
      window.location="/home";
    }
    // metadata contains information about the institution
    // that the user selected and the most recent API request
    // IDs. Storing this information is helpful for support.
  },
});
// Trigger the authentication view
document.getElementById('link-button').onclick = function() {
  // Link will automatically detect the institution ID
  // associated with the public token and present the
  // credential view to your user.
  linkHandler.open();
};
</script>

{% endblock %}